nav.navigation a.CVbutton {
    background: #f05b5b;
    color: #fff;
    margin-left: 12px;
  }

ul.tl-list {
  list-style-type: none;
}

ul.tl-list li p {
  margin-top: 0;
  padding-left: 20px;
}

.hr-dark {
  margin-top: 0; 
  margin-bottom: 10px;
  border: none;
  border-top: 2px solid #4e4e4e;
}

.hr-light {
  margin-top: 0; 
  margin-bottom: 10px;
  border: none;
  border-top: 2px solid #bbbbbb;
}

/* Remove bottom padding from images */
.markdown-image {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Hide empty paragraph tags that cause unwanted spacing */
p:empty {
  display: none;
  margin: 0;
  padding: 0;
}
